{% extends "register/base.html" %}
{% block content %}  
{%load static %}

<div class="col-md-6 order-md-2">
          <img src="{%static 'images/undraw_file_sync_ot38.svg' %}" alt="Image" class="img-fluid">
        </div> 

 <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3>Join Today</h3>
              <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>
            </div>
            <form action="#" method="POST">
                {% csrf_token%}

              <div class="form-group first">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name = "username">

              </div>

              <div class="form-group last mb-4">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" name = "email">

              </div>

              <div class="form-group last mb-4">
                <label for="password1">Password</label>
                <input type="password" class="form-control" id="password" name = "password1">
                
              </div>

              <div class="form-group last mb-4">
                <label for="password2">Confirm Password</label>
                <input type="password" class="form-control" id="password" name = "password2">
                
              </div>
              
              <div class="d-flex mb-5 align-items-center">
                <span class="ml-auto"><a href="{%url 'login'%}" class="forgot-pass">Already have an account?</a></span> 
              </div>

              <input type="submit" value="Sign Up" class="btn text-white btn-block btn-primary">
            </form>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>
    
{% endblock content %}