{%load static%}
<!DOCTYPE html>
<html>
<head>
	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href = "{% static 'home/main.css'%}">

    <script src = "{%static 'home/js/main.js' %}"></script>
	{% if title %}
		<title>Alpha - {{title}}</title>
	{% else %}
		<title>Alpha</title>
	{%endif%}

</head>
<body>
  
	<!-- Navigation bar section -->
	<header class="site-header">
	  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
	    <div class="container">
	      <a class="navbar-brand mr-4" href="{%url 'home'%}">Alpha</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarToggle">
	        <div class="navbar-nav mr-auto">
	          <a class="nav-item nav-link" href="{%url 'home'%}">Home</a>
	          <a class="nav-item nav-link" href="#" >About</a>
	        </div>
	        <!-- Navbar Right Side -->
	        <div class="navbar-nav">
	        {% if user.is_authenticated%}
	       	  <a class="nav-item nav-link" href="{%url 'profile'%}">profile</a>
	          <a class="nav-item nav-link" href="{%url 'logout'%}">Logout</a>
	         {%else%}
	         <a class="nav-item nav-link" href="{%url 'login'%}">Login</a>
	          <a class="nav-item nav-link" href="{%url 'signup'%}">Register</a>
	         {%endif%}
	        </div>
	      </div>
	    </div>
	  </nav>
	</header>
			
	<!-- video call section -->
	<main class="container-fluid">
		<div class="row">
			<section class="col-md-8">
				<h1>Welcome Back {{user.username}}</h1>
				<video id="localVideo" autoplay playsinline></video>
				<video id="remoteVideo" autoplay playsinline></video>
	
				<div>
                    <h4 id = labelUser>Who do you want to call?</h4>
					<input id="chat-username" type="text" size="30"/>
					<button class="btn btn-success btn-sm" id="callButton">Call</button>

                    <script>
                        var inputUsername = document.querySelector('#chat-username');
                        var callButton = document.querySelector('#callButton');

                        var username;
                        callButton.addEventListener('click', () => {
                            username = "calling" +inputUsername.value;

                            console.log('username:',username);
                            if (username == ''){
                                return;
                            }
                            inputUsername.value = '';
                            inputUsername.disabled = true;
                            inputUsername.style.visibility = 'hidden';

                            callButton.disabled = true;
                            callButton.style.visibility = 'hidden';

                            var labelUsername = document.querySelector('#labelUsr');
                            labelUsername.innerHTML = username;

                        });
                    </script>

					<button class="btn btn-primary btn-sm" id="startButton">Start</button>
					<button class="btn btn-danger btn-sm" id="hangupButton">Hang Up</button>
				</div>
			</section>
			<section class="col-md-4 chat">
				
				<!-- <textarea cols="55" rows="20"></textarea><br/> -->
				<input id="chat-message-input" type="text" size="46"/>
				<input id="chat-message-submit" type="button" value="Send"/>
			</section>
		</div>
	</main>
    
	      {% block content %}{% endblock content%}

	    </div>
	  </div>
	</main>
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>